
.card {
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.06);
}


.form-label {
  font-weight: 600;
  margin-bottom: 6px;
  display: block;
}

.form-control {
  height: 44px;
  border-radius: 8px;
  font-size: 15px;
}


.row .col-md-3,
.row .col-md-4,
.row .col-md-5,
.row .col-md-6,
.row .col-md-8 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h5 {
  margin-top: 10px;
  font-weight: 700;
}


button.btn-primary {
  height: 50px;
  border-radius: 10px;
  font-size: 18px;
}



.container {
  max-width: 1000px;
}
