table {
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
}

th {
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.03em;
}

td {
  vertical-align: middle;
}

.badge {
  font-size: 0.85rem;
  border-radius: 0.5rem;
}

button {
  min-width: 120px;
}
