.container {
  padding: 20px; /* Adiciona espaçamento ao redor do container */
}

.container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px; /* Espaçamento acima da tabela */
}

.container th,
.container td {
  text-align: center; /* Centraliza o texto nas células */
  padding: 10px; /* Espaçamento interno das células */
}

.container th {
  background-color: #f2f2f2; /* Fundo do cabeçalho */
}

.container td {
  max-width: 200px; 
  overflow: hidden; /* Garante que o conteúdo seja oculto se exceder */
  white-space: nowrap; /* Garante que o texto não quebre para outra linha */
}

td.descricao {
  max-width: 200px; /* Aumenta a largura máxima da coluna de descrição */
  white-space: normal; /* Permite que a descrição quebre a linha, se necessário */
}

td.acoes {
  text-align: center; /* Centraliza o texto dentro da célula de ações */
}

td.acoes button {
  margin: 0 5px; 
  background-color: #007bff; 
  color: white;
  border: none; 
  border-radius: 5px; 
  cursor: pointer; /* Muda o cursor ao passar o mouse */
  transition: background-color 0.3s ease; /* Efeito ao passar o mouse */
}

button:hover {
  background-color: #0056b3; /* Cor ao passar o mouse */
  color: white;
}

/* Estilos para os estados das solicitações */
.estado-aberta { background-color: #d3d3d3; }
.estado-orcada { background-color: #d7c4a1; }
.estado-rejeitada { background-color: #ffcccb; }
.estado-aprovada { background-color: #fff4e1; }
.estado-redirecionada { background-color: #e1c6e1; }
.estado-aguardando-pagamento { background-color: #cce5ff; }
.estado-paga { background-color: #ffe6cc; }
.estado-finalizada { background-color: #d4edda; }

.pagination {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: 20px; 
}

.icon-btn {
  background-color: transparent;
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #007bff;
  transition: color 0.3s ease;
}

.icon-btn:disabled {
  color: #ccc;
  cursor: not-allowed;
}